#Container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Left-Box{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 500px;
    max-width: 500px;
    margin-top: 50px;
    z-index: 5;
    border-radius: 20px;
    border:0px solid #006437;
     box-shadow: 
        0 10px 30px rgba(0, 100, 55, 0.15),
        0 4px 10px rgba(0, 0, 0, 0.08);
}
#leaf{
    font-size: 24px;
    color:#31604f;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 10px;
}
#Grow{
    font-size: 50px;
    color:#31604f;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
}
#Image{
    display: block;
    height: 100%;
    width: 100%;
    max-height: 320px;
    max-width:500px;
    overflow: hidden;
    border-radius: 20px; 
}
#BigLine{
    margin-top: -28px;
    margin-left: 10px;
    color: #3a4d446b;
}