#Container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
#Left-Box{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    z-index: 5;
    border:0px solid #006437;
     box-shadow: 
        0 10px 30px rgba(0, 100, 55, 0.15),
        0 4px 10px rgba(0, 0, 0, 0.08);
        margin-top:40px;
}
#leaf{
    font-size: 24px;
    color:#31604f;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 10px;
}
#Grow{
    font-size: 50px;
    color:#31604f;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
}
#Image{
    display: block;
    height: 100%;
    width: 100%;
    max-height: 345px;
    max-width:500px;
    overflow: hidden;
    border-radius: 20px; 
}
#BigLine{
    margin-top: -28px;
    margin-left: 10px;
    color: #3a4d446b;
}
#RightBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
    z-index: 5;
    border:0px solid #006437;
     box-shadow: 
        0 10px 30px rgba(0, 100, 55, 0.15),
        0 4px 10px rgba(0, 0, 0, 0.08);
    background-color: #f8f9f8;
    height: 100%;
}
#CreateText{
    background-color: #f8f9f8;
    font-size: 27px;
    padding: 10px;
    font-weight:900 ;
    margin-bottom: 5px;
    color:#083c28 ;
}
#Start{
    font-size: 18px;
    font-weight: 200;
    padding:10px;
    background-color: #f8f9f8;
    margin-top: 0%;
    color:#00643785;
}
#name{
    display: flex;
    flex-direction: column;
    gap:5px;
    padding: 10px;
    background-color: #f8f9f8;
}
#name label{
    font-size: 16px;
    font-weight: 600;
    color:#31604f;
    background-color: #f8f9f8;
}
#name input{
    background-color: #c4fedd;
    border-radius:20px ;
    height:40px;
    color:#236742;
    margin-top: 8px;;
    font-weight: 700;
}
#Email{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f8f9f8;
}
#Email label{
    background-color: #f8f9f8;
    font-size: 16px;
    font-weight: 600;
    color:#31604f;
}
#Email input{
    background-color: #c4fedd;
    border-radius:20px ;
    height:40px;
    color:#236742;
    margin-top: 8px;;
    font-weight: 700;
}
#Password{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f8f9f8;
}
#Password label{
    background-color: #f8f9f8;
    font-size: 16px;
    font-weight: 600;
    color:#31604f;
}
#Password input{
    background-color: #c4fedd;
    border-radius:20px ;
    height:40px;
    color:#236742;
    margin-top: 8px;;
    font-weight: 700;
}
#ConfirmPassword{
 margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f8f9f8;   
}
#ConfirmPassword label{
    background-color: #f8f9f8;
    font-size: 16px;
    font-weight: 600;
    color:#31604f;
}
#ConfirmPassword input{
    background-color: #c4fedd;
    border-radius:20px ;
    height:40px;
    color:#236742;
    margin-top: 8px;;
    font-weight: 700;
}
#SubmitButton{
    display: flex;
    /*ackground-color: #f8f9f8;*/
    border:0.5px solid #006231;
    border-radius: 20px;
    width: 180px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px auto;  
    background-color: #006231; 
}
#SubmitText{
    background-color: #006231;
    font-size: 20px;
    color:#f8f9f8;
}
#SubmitButton:hover{
    cursor: pointer;
}
#SubmitButton:active{
    transform: scale(0.5);
    transition: all 0.8s ease-in-out;
}
#alreadyUser{
    font-size: 15px;
    text-align: center;
    background-color: #f8f9f8;
}
#log{
    background-color: #f8f9f8;
}