.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #b7d7c4; 
  border-top: 1px solid rgba(0,0,0,0.1);
  flex-wrap: wrap;
  margin-top: 20px;
}
.footer-left {
  font-size: 20px;
  font-weight: 700;
  color: #0b3d2e;
}
.footer-center {
  display: flex;
  gap: 30px;
  font-size: 12px;
  color: #3b6b58;
  font-weight: 600;
}

.footer-center span {
  cursor: pointer;
}

.footer-right {
  font-size: 11px;
  color: #4f7c69;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .footer-center {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.MainFooter{
  flex:1;
  justify-content: space-around;
}